body {
	background-color: #1e2835;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;

	#content & {
		position: relative;
	}
}

#wrapper {
	min-width: 960px;
}

#menu {
	background: url('../images/bg_menu-repeat.jpg') top center repeat-x;
	border-bottom: 1px solid #546981;

	> div {
		background: url('../images/bg_menu.jpg') top center no-repeat;
		height: 49px;
	}
}

#header {
	background: #191919 url('../images/bg_inner.jpg') top center no-repeat;
	height: 340px;
	padding-top: 1px;

	.home & {
		background: #191919 url('../images/bg_home.jpg') top center no-repeat;
		height: 440px;
	}
}

#content {
	padding: 0 0 30px 0;
	background: #191919 url('../images/bg_content-inner.jpg') top center no-repeat;

	.home & {
		background: #191919 url('../images/bg_content-home.jpg') top center no-repeat;
	}
}

#footer {
	font-family: Copperplate Gothic Light;
	font-size: 10px;
	text-align: center;
	color: $grey;
	padding: 25px 0;
	background: #1E2835 url('../images/bg_footer-repeat.png') top center repeat-x;
	min-height: 140px;

	a {
		color: $grey;

		&:hover {
			color: $blue;
			text-decoration: none;
		}
	}
}

//error messages
#system-message {
	margin: 0;

	dt, dd {
		margin: 0;
	}

	dt {
		font-size: 20px;
		font-family: Copperplate Gothic Bold, Helvetica, Arial, sans-serif;
		color: $blue;
		text-transform: uppercase;
	}

	ul {
		padding: 0;
		margin-bottom: 0;

		li {
			list-style: none;
		}
	}
}