body {
	background-color: #191919;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

#wrapper {
	min-width: 960px;
}

#header {
	background: #191919 url('../images/bg_inner.jpg') top center no-repeat;
	min-height: 340px;
	padding-top: 1px;

	.home & {
		background: #191919 url('../images/bg_home.jpg') top center no-repeat;
		min-height: 440px;
	}
}

#menu {
	background: url('../images/bg_menu-repeat.jpg') top center repeat-x;
	border-bottom: 1px solid #546981;

	> div {
		background: url('../images/bg_menu.jpg') top center no-repeat;
		height: 49px;
	}
}