body {
	background-color: #1e2835;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;

	#content & {
		position: relative;
	}
}

#wrapper {
	min-width: 960px;
}

#menu {
	background: url('../images/bg_menu-repeat.jpg') top center repeat-x;
	border-bottom: 1px solid #546981;

	> div {
		background: url('../images/bg_menu.jpg') top center no-repeat;
		height: 49px;
	}
}

#header {
	background: #191919 url('../images/bg_inner.jpg') top center no-repeat;
	min-height: 340px;
	padding-top: 1px;

	.home & {
		background: #191919 url('../images/bg_home.jpg') top center no-repeat;
		min-height: 440px;
	}
}

#content {
	padding: 0 0 30px 0;
	background-color: #191919;
}

.home .item-page {
	margin-left: 245px;

	img {
		position: absolute;
		left: 10px;
		top: 15px;
	} 
}

#footer {
	font-family: Copperplate Gothic Light;
	font-size: 10px;
	text-align: center;
	color: $grey;
	padding: 25px 0;
	background: #191919 url('../images/bg_footer-repeat.png') top center repeat-x;
	min-height: 140px;

	a {
		color: $grey;

		&:hover {
			color: $blue;
			text-decoration: none;
		}
	}
}