// @group hmenu
.hmenu {
	font-family: Copperplate Gothic Light;
	text-align: center;

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu > li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		position: relative;
	
		padding: 0 5px;
	}

	.menu > li > a,
	.menu > li > span {
		display: block;

		span {

		}
	}

	ul ul { // submenu
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			white-space: nowrap;
		}
	}
}

.primary-menu {
	width: 960px;
	padding: 14px 10px 0;
	margin: 0 auto;
	font-size: 12px;

	a, span {
		color: white;
		&:hover {
			color: $blue;
			text-decoration: none;
		}
	}

	.menu > li {
		padding: 0 12px;
		max-width: 135px;
		word-wrap: break-word;
		vertical-align: top;
		height: 37px;

	 	> a, 
	 	> span {
			color: white;
			line-height: 1em;
			
			&:hover {
				color: $blue;
				text-decoration: none;
				cursor: pointer;
			}
		}

		&:hover {
			background: url('../images/rollover_menu.png') center 95% no-repeat;
			overflow-x: visible;

			ul {
				display: block;
			}
		}
	}

	ul ul {
		display: none;
		background: #000;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		min-width: 150px;
		top: 36px;
		z-index: 1;
		@include border;
		border-top: 0;

		li {
			line-height: 32px;
			border-top: 1px solid #17212f;

			&:hover {
				background-color: #56bef2; /* Old browsers */
				background-image: -moz-linear-gradient(top, #56bef2 0%, #3386b6 100%); /* FF3.6+ */
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56bef2), color-stop(100%,#3386b6)); /* Chrome,Safari4+ */
				background-image: -webkit-linear-gradient(top, #56bef2 0%,#3386b6 100%); /* Chrome10+,Safari5.1+ */
				background-image: -o-linear-gradient(top, #56bef2 0%,#3386b6 100%); /* Opera 11.10+ */
				background-image: -ms-linear-gradient(top, #56bef2 0%,#3386b6 100%); /* IE10+ */
				background-image: linear-gradient(to bottom, #56bef2 0%,#3386b6 100%); /* W3C */
				line-height: 31px;

				a {
					border-bottom: 1px solid #1c4b65;
				}
			}

			&:first-child {
				border-top: 0;
			}

			&.last {
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;

				&:hover {
					line-height: 32px;
				}

				&:hover a {
					border-bottom: 0;
				}
			}
		}

		a {
			display: block;
			padding: 0 4px;
			&:hover {
				color: #ffffff;
			}
		}
	}
}

.secondary-menu {
	padding-bottom: 23px;
	margin-bottom: 15px;

	@include divider;

	ul ul {
		display: none;
	}
}

// @group vmenu
.vmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	ul ul { // submenus
		margin: 0.5em 0 1em 1em;
		list-style: none;
	}
}
