// styles
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: $blue; color:#fff; text-shadow: none; }
::selection { background: $blue; color:#fff; text-shadow: none; }

.rounded-border {
	border-radius: 5px;
	@include border;
}

.read-more {
	float: right;
	background: #191919 url('../images/arrow.png') right center no-repeat;
	padding: 9px 28px 10px 0;
	margin: 0;
	font-family: Copperplate Gothic Light;
	font-size: 16px;
	color: $blue;
	display: inline-block;
	*display: inline;
	*zoom: 1;

	a:hover {
		text-decoration: none;
	}
}

small a {
	color: $blue !important;
}